**/class/*/*
!class/*/**.cpp
!class/*/**.h
!class/*/**CMakeLists.txt

**/CPE/CPE*/*
!CPE/CPE*/**.cpp
!CPE/CPE*/CMakeLists.txt
!CPE/CPE*/**.h
ObjectionPractice2/cmake-build-debug
3.cpp
itsa.cpp
help.cpp
